Flask==1.0
Jinja2==2.7.3
MarkupSafe==0.23
PyYAML==5.1
Werkzeug==0.15.3
argh==0.25.0
itsdangerous==0.24
pathtools==0.1.2
requests==2.20.0
robotframework>=2.8.5
robotframework-requests==0.4.5
robotframework-selenium2library==1.7.4
watchdog==0.8.0
# wsgiref==0.1.2
