<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">


        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>

        <link href="" type="text/css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
<body id=dashboard-page>
    <div class="jumbotron">
      <div class="container">
        <h1>Robot Framework Hub</h1>
        <p>You are viewing a very (<i>very!</i>) early preview of
          the robot hub -- a web site and web service that provides
          web-based access to your test assets.</p>

        <p>In its present form, the hub has two primary services:

          <ul>
            <li>A web application for viewing keyword documentation
              (view documentation for built-in, installed, and local
              keyword libraries and resource files).</li>
            <li>A web api for fetching keyword information. This
              can be used by other tools that need access to your
              test assests. For example, a text editor can use information
              from this API in order to provide auto-completion.
          </ul>
          </p>

        <p><a class="btn btn-primary btn-lg" role="button" href="/doc/">Click to go to keyword documentation</a></p> 
      </div>
    </div>  
</body>
